@media (max-width: 1024px){
    .logo{
        height: 90px;
    }
    .hero-card{
        display: none;
    }
    .hero{
        justify-content: center;
    }
    .hero-info{
        width: 70%;
    }
    .navbar-list a{
        font-size: 13px;
        letter-spacing: 10px;
    }
    .cards-items_description{
        overflow-y: scroll;

    }
    .cards-items_description p{
        font-size: 10px;
    }
}
@media(max-width: 768px){

    .navbar-list{
        justify-content: space-around;
        gap: 30px;
    }
    .hero-info{
        opacity: 0.6;
    }
    .hero-info_title{
        font-size: 2rem;
    }
    .hero-info_description{
        font-size: 1.2rem;
        font-weight: 900;
    }
    .btn-container{
        height: 4rem;
    }
    .btn-container a {
        font-size: 14px;
        font-weight: 900;
    }
    .cards-items_description{
        width: 25vw;
    }
}
@media(max-width: 616px){
    .navbar{
        padding-top: 15px;
    }
    .checkbox-menu-toggle{
        display: flex;
        margin-right: 10%;
    }
    .navbar-list{
        display: none;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 80px;
        width: 50vw;
        height: 50vh;
        background-color: #282828;
        border: 1px solid var(--font);
        border-top: none;
        border-radius: 0 0 9px 9px ;
        /* aca seteo el menu toggle para cuando checkee el input y aparezca el menu desplegable */
        /*
        display: none;
        */
    }
    #menu-toggle:checked ~ .navbar-list{
        display: flex;
        transform-origin: top;
        animation: meno-toggle .5s ease-out forwards;
    }
@keyframes meno-toggle{
    from{
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1)
    }
}

    /*-------------------------------------------------------------------------------------------------*/
    .fa-burguer{
        display: flex;
        text-align: center;
        align-self: center;
        font-size: 30px;
    }
    .fa-burguer:hover{
        font-size: 32px;
        text-shadow: 0px 0px 7px var(--font);
    }
    .hero{
        display: none;
    }
    .about-us{
        animation:none
    }
    .cards h2{
        animation: none
    }
    .cards-items_description{
        animation: none;
        width: 80%;
        margin: 20px 0;
    }
    .cards-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
}