@media (max-width: 1024px){
    .logo{
        height: 90px;
    }
    .hero-card{
        display: none;
    }
    .hero{
        justify-content: center;
    }
    .hero-info{
        width: 70%;
    }
    .navbar-list a{
        font-size: 13px;
        letter-spacing: 10px;
    }
    .cards-items_description{
        overflow-y: scroll;

    }
    .cards-items_description p{
        font-size: 10px;
    }
}
@media(max-width: 768px){
    .navbar{
        justify-content: center;
    }
    .navbar-list{
        justify-content: space-around;
        gap: 30px;
    }
    .hero-info{
        opacity: 0.6;
    }
    .hero-info_title{
        font-size: 2rem;
    }
    .hero-info_description{
        font-size: 1.2rem;
        font-weight: 900;
    }
    .btn-container{
        height: 4rem;
    }
    .btn-container a {
        font-size: 14px;
        font-weight: 900;
    }
    .cards-items_description{
        width: 25vw;
    }
    .logo{
        display: none
    }
}
@media(max-width: 616px){
    .navbar{
        justify-content: flex-end;
        padding-top: 20px;
    }
    .navbar-list{
        display: none;
    }
    .fa-burguer{
        display: flex;
        text-align: center;
        align-self: center;
        font-size: 30px
    }
    .hero{
        display: none;
    }
    .about-us{
        animation:none
    }
    .cards h2{
        animation: none
    }
    .cards-items_description{
        animation: none;
        width: 80%;
        margin: 20px 0;
    }
    .cards-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
}